.profile__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  background: white;
  padding: 32px;
  border-radius: 8px;
  .profile__image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: fit-content;
    .profile__image{
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.divider{
  margin: 18px 0;
  border-bottom: 1px dashed #bdbdbd;
}

.icon-edit {
  cursor: pointer;
  &:hover{
    fill: #1E46A2;
  }
  &.small {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}

.caption-input{
  font-size: 0.8em;
}
