.review__container{
    padding: 20px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.photo_container{
    justify-content: center;
}

.photo_display{
    margin-top:1rem;
    max-width: 30rem;
    max-height: 20rem;
}

.empty_photo{
    height: 0.1rem;
    width: 0.1rem;
}

.upload_button{
    width:40%;
}

.upload_container{
    text-align: -webkit-center;
}
